<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <h5>Support This Site</h5>
        <p>
            If my blog was helpful to you, then please consider visiting my
            <a href="http://a.co/dR6x2YL">Amazon Wishlist</a> or donating via <a href="https://www.paypal.me/johnpaulw">Paypal</a>
            or <a href="https://cash.me/$JohnPaulW">Square Cash</a>
        </p>
    </div>
</div>
